@import "tailwindcss";

@theme {
  --color-natural-bg: #FDFCF0;
  --color-natural-text: #424138;
  --color-natural-dark: #2D2C24;
  --color-natural-olive: #5A5A40;
  --color-natural-border: #E8E4D6;
  --color-natural-secondary: #D6CCB1;
  --color-natural-light: #F5F2ED;
  --color-natural-lost: #D97706;

  --font-serif: "Georgia", serif;
}
